{% extends 'projet/base.html' %}

{% load static %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Une meilleure expérience numérique avec ArtyProd</h1>
          <h2>Une meilleure expérience numérique avec ArtyProd
            Nous sommes une équipe de designers talentueux créant des sites Web</h2>
          
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>







    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>caractéristiques</h2>
          <p>Une boîte de développement compétente devrait avoir une expertise technique solide dans différents domaines de développement, tels que le développement web, le développement mobile, le développement d'applications</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Expérience utilisateur (UX)</h4>
              <p>Une boîte de développement qui comprend l'importance de l'expérience utilisateur peut offrir des services qui se concentrent sur la convivialité, l'accessibilité et l'esthétique des produits développés. Elle peut proposer des solutions ergonomiques, une interface utilisateur intuitive et une expérience utilisateur globalement positive pour les utilisateurs finaux</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Qualité du code et meilleures pratiques</h4>
              <p>Une boîte de développement fiable suit les meilleures pratiques de développement de logiciels. Elle utilise des normes de codage élevées, suit les principes de conception et de développement, et utilise des outils et des techniques modernes pour garantir la qualité du code</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>Communication efficace</h4>
              <p>Une boîte de développement qui propose des services doit être capable de communiquer efficacement avec ses clients. Elle devrait être à l'écoute des besoins et des exigences du client, fournir des mises à jour régulières sur l'avancement du projet, être réactive aux demandes de clarification ou de modification, et être transparente dans sa communication</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4> Sécurité des applications</h4>
              <p> Une boîte de développement doit adopter des pratiques de développement sécurisées pour garantir que les applications développées sont résistantes aux attaques et aux vulnérabilités. Cela peut inclure la mise en œuvre de bonnes pratiques de codage sécurisé, la réalisation d'analyses de sécurité et de tests de pénétration, l'utilisation de pare-feu et de filtres pour prévenir les attaques, ainsi que la mise à jour régulière des bibliothèques et des composants logiciels pour résoudre les problèmes de sécurité connus.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/features.svg" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <section id="about" class="about">
      <div class="container">
    
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>ArtyProds - Votre partenaire de développement</h3>
            <p class="fst-italic">
              Chez ArtyProds, nous sommes passionnés par la création de solutions logicielles innovantes et de qualité supérieure.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Des développeurs expérimentés et talentueux pour réaliser vos projets.</li>
              <li><i class="bi bi-check-circle"></i> Un engagement envers la satisfaction du client et la livraison à temps.</li>
              <li><i class="bi bi-check-circle"></i> Des solutions sur mesure adaptées à vos besoins spécifiques.</li>
              <li><i class="bi bi-check-circle"></i> Une approche axée sur la sécurité et la confidentialité des données.</li>
            </ul>
            <a href="#" class="read-more">En savoir plus <i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>
    
      </div>
    </section>

{% endblock content %}
